@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
a {
  text-decoration: none;
  color: #fff;
}

:root {
  --text-color: #fff;
  --bg-url: url(assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-img: url(assets/MoonStars.svg);
}

.light-mode {
  --text-color: #000;
  --bg-url: url(assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-img: url(assets/Sun.svg);
}

.light-mode .container .switch button {
  right: -3px;
  left: initial;
}

body {
  background: var(--bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}
body .container {
  margin-top: 56px;
  margin-bottom: 256px;
  width: 588px;
}
body .container .profile {
  padding: 24px;
}
body .container .profile img {
  width: 112px;
  height: 112px;
}
body .container .profile h1 {
  font-size: 16px;
}
body .container .switch {
  width: 64px;
  height: 24px;
  position: relative;
  margin: 4px auto;
}
body .container .switch button {
  width: 32px;
  height: 32px;
  background: #fff;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch-img);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
body .container .switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
body .container .links {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .container .links a {
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  padding: 16px 24px;
  color: var(--text-color);
  background-color: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}
body .container .links a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
body .container .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}
body .container .social a {
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}
body .container .social a:hover {
  background-color: var(--highlight-color);
}
body .container .footer p span {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */