@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

a{
    text-decoration: none;
    color: #fff;
}

:root{
    --text-color: #fff;
    --bg-url: url(assets/bg-desktop.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-img: url(assets/MoonStars.svg);
}

.light-mode{
    --text-color: #000;
    --bg-url: url(assets/bg-desktop-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(0, 0, 0, 0.2);
    --switch-img: url(assets/Sun.svg);
}

.light-mode{
    .container{
        .switch{
            button{
                animation: slide-in 0.4s forwards;
            }
        }
    }
}

body {
    background: var(--bg-url);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    height: 920px;

    .container{
        margin-top: 56px;
        margin-bottom: 256px;
        max-width: 588px;

        .profile{
            padding: 24px;
            img{
                width: 112px;
                height: 112px;
            }
            h1{
                font-size: 16px;
            }
        }

        .switch{
            width: 64px;
            height: 24px;
            position: relative;
            margin: 4px auto;
            button{

                width: 32px;
                height: 32px;
                background: #fff;
                border: 0;
                border-radius: 50%;
                background-image: var(--switch-img);
                background-repeat: no-repeat;
                background-position: center;

                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 1;
                animation: slide-back 0.3s forwards;
            }

            button:hover{
                transition: all 0.1s;
                outline: 8px solid var(--highlight-color);
            }

            
            span{
                display: block;
                width: 64px;
                height: 24px;
                background: var(--surface-color);
                border: 1px solid var(--stroke-color);
                border-radius: 9999px;
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
            }
        }

        .links{
            padding: 24px;
            display: flex;         
            flex-direction: column;
            gap: 16px;
            a{
                border: 1px solid var(--stroke-color);
                border-radius: 8px;
                padding: 16px 24px;
                color: var(--text-color);
                background-color: var(--surface-color);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                transition: all 0.3s ease;
            }
            a:hover{
                background-color: var(--surface-color-hover);
                border: 1.5px solid var(--text-color);
            }
        }

        .social{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding: 24px;
            a{
                font-size: 30px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                transition: all 0.3s ease;
                padding: 10px;
                align-items: center;
                display: flex;
                justify-content: center;
                color: var(--text-color);
            }
            a:hover{
                background-color: var(--highlight-color);
            }
        }
        .footer{
            p{
                span{
                    text-decoration: underline;
                }
            }
        }
    }

}


@media (max-width: 560px) {
    :root{
        --bg-url: url(./assets/bg-mobile.jpg);
    }

    .light-mode{
        --bg-url: url(./assets/bg-mobile-light.jpg);
    }
}

@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 55%;
    }
}

@keyframes slide-back {
    from{
        left: 55%;
    }
    to{
        left: 0;
    }
}